body{
    font-family: Arial;
}
table{
    border-collapse: collapse;
}
td{
    border:1px solid black;
    padding:5px;
}
th{
    border: 1px solid black;
    padding:5px;
    text-align:left;
    /* cursor property displays hand symbol
    when hovered over the th element */
    cursor: pointer;
}
/* This class diplays the up arrow */
.arrow-up{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px  solid black;
    display: inline-block;
}
/* This class displays the DOWN arrow */
.arrow-down
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px  solid black;
    display: inline-block;
}body{
    font-family: Arial;
}
table{
    border-collapse: collapse;
}
td{
    border:1px solid black;
    padding:5px;
}
th{
    border: 1px solid black;
    padding:5px;
    text-align:left;
    /* cursor property displays hand symbol
    when hovered over the th element */
    cursor: pointer;
}
/* This class diplays the up arrow */
.arrow-up{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px  solid black;
    display: inline-block;
}
/* This class displays the DOWN arrow */
.arrow-down
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px  solid black;
    display: inline-block;
}