<div ng-controller="showDetails">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div style="background-color:coral;" class="card-header ch-alt bgm-cyan ">
                    <center>
                        <h2>Ultra modern school Manchar</h2>
                    </center>
                    <br>
                </div>
            </div>

            <div class="col-md-12">
                <br>
                <div style="background-color:rgb(172, 131, 240);">
                    <center>
                        <h4>Nursery Admission Registration Form</h4>
                    </center>

                </div>

                <div class="card-body card-padding ">
                    <form role="form" class="m-b-50 from-group" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                        <div class="row col-md-6 form-group fg-float">
                            <div class="col-md-3">
                                <label>Class</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-md">
                            </div>
                            <div class="col-md-3">
                                <label>Year</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-md">
                            </div>
                        </div>


                        <h5>
                            <font color="red">Student Information:</font>
                        </h5>

                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <div class="form-group fg-float m-b-25">
                                    <div class="fg-line">
                                        <label class="fg-label">First Name
                                            <font color="red">*</font>
                                        </label>
                                        <input type="text" class="form-control input-md" data-ng-model="user.first_name" placeholder="{{user.first_name}}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group fg-float m-b-25">
                                    <div class="fg-line">
                                        <label class="fg-label">Middle Name
                                            <font color="red">*</font>
                                        </label>
                                        <input type="text" class="form-control input-md" data-ng-model="user.middle_name" placeholder="{{user.middle_name}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group fg-float m-b-25">
                                    <div class="fg-line">
                                        <label class="fg-label">Last Name
                                            <font color="red">*</font>
                                        </label>
                                        <input type="text" class="form-control input-md" data-ng-model="user.last_name" placeholder="{{user.last_name}}">
                                    </div>
                                </div>
                                <!-- <h1 style="color:red">{{ guardian.first_name }}</h1> -->
                            </div>
                        </div>

                        <div class="row col-md-12 m-t-15">
                            <div class="col-md-2">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-2">
                                <input type="radio" name="gender" value="male"> Male
                                <br>
                            </div>
                            <div class="col-md-2">
                                <input type="radio" name="gender" value="female"> Female
                                <br>
                            </div>

                            <div class="col-md-2">
                                <label>| DOB:</label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fg-float m-b-25">
                                    <div class="fg-line">
                                        <input type="date" class="form-control input-md" data-ng-model="user.dob" placeholder="{{user.dob}}">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row col-md-12">
                            <!-- <div class="col-md-3">
                                <label> Blood Group :</label>
                            </div>

                            <div class="col-md-3">
                                <select data-ng-model="user.blood_group" placeholder="{{user.blood_group}}">
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                </select>
                            </div> -->
                            <div class="col-md-3">
                                <label> Language Spoken At Home:</label>
                            </div>

                            <div class="col-md-3">
                                <select data-placeholder="Choose a Language...">
                                    <option value="MR">Marathi</option>
                                    <option value="HI">Hindi</option>
                                    <option value="EN">English</option>
                                    <option value="UR">Urdu</option>
                                    <option value="GU">Gujarati</option>
                                    <option value="NE">Nepali</option>
                                    <option value="PA">Punjabi</option>
                                    <option value="TA">Tamil</option>
                                    <option value="TE">Telugu</option>

                                    <option value="Ot">Other</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label> Nationality :</label>
                            </div>
                            <div class="col-md-3">
                                <select data-ng-model="user.natinality" placeholder="{{user.natinality}}">
                                    <option value="">-----------</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>

                        <h5>
                            <font color="red">Parent/Guardian Information:</font>
                        </h5>
                        <h6>
                            <font color="blue">Father/Gaurdian:</font>
                        </h6>

                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <div class="form-group fg-float m-b-25">
                                    <div class="fg-line">
                                        <label class="fg-label">First Name
                                            <font color="red">*</font>
                                        </label>
                                        <input type="text" class="form-control input-md" data-ng-model="user.first_name" placeholder="{{user.first_name}}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group fg-float m-b-25">
                                    <div class="fg-line">
                                        <label class="fg-label">Middle Name
                                            <font color="red">*</font>
                                        </label>
                                        <input type="text" class="form-control input-md" data-ng-model="user.middle_name" placeholder="{{user.middle_name}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group fg-float m-b-25">
                                    <div class="fg-line">
                                        <label class="fg-label">Last Name
                                            <font color="red">*</font>
                                        </label>
                                        <input type="text" class="form-control input-md" data-ng-model="user.last_name" placeholder="{{user.last_name}}">
                                    </div>
                                </div>
                                <!-- <h1 style="color:red">{{ guardian.first_name }}</h1> -->
                            </div>
                        </div>

                        <div class="row col-md-12 m-t-15">
                            <div class="col-md-3">
                                <label> Nationality :</label>
                            </div>
                            <div class="col-md-3">
                                <select data-ng-model="user.natinality" placeholder="{{user.natinality}}">
                                    <option value="">-----------</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label> Occupation :</label>
                            </div>
                            <div class="col-md-3">
                                <select data-ng-model="user.occupation" placeholder="{{user.occupation}}">
                                    <option value="Government-Contratual">Government-Contratual</option>
                                    <option value="Government-Regular">Government-Regular</option>
                                    <option value="NotWorking">Not Working</option>
                                    <option value="Other">Other</option>
                                    <option value="PrivateService">Private Service</option>
                                </select>
                            </div>
                        </div>

                        <div class="row col-md-12 m-t-15">
                            <div class="col-md-3">
                                <label> Residential Address :</label>
                            </div>
                            <div class="form-group fg-float col-md-3 m-t-25">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-md" id="address" data-ng-model="user.residentialaddress" placeholder="{{user.residentialaddress}}">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label> Country :</label>
                            </div>
                            <div class="col-md-3">
                                <select data-ng-model="user.country" placeholder="{{user.country}}">
                                    <option value="India">India</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>

                        <div class="row col-md-12 m-t-15">
                            <div class="col-md-3">
                                <label> State:</label>
                            </div>
                            <div class="form-group fg-float col-md-3 m-t-25">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-md" id="state" data-ng-model="user.state" placeholder="{{user.state}}">
                                </div>
                            </div>
                            <p id="demo"></p>

                            <script>
                                document.getElementById("demo").innerHTML = Date();
                            </script>
                            <div class="col-md-3">
                                <label> District :</label>
                            </div>
                            <div class="form-group fg-float col-md-3 m-t-25">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-md" id="disttrict" data-ng-model="user.district" placeholder="{{user.district}}">
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-12 m-t-15">
                            <div class="col-md-3">
                                <label> Pin Code :</label>
                            </div>
                            <div class="form-group fg-float col-md-3 m-t-25">
                                <div class="fg-line">
                                    <input type="number" class="form-control input-md" id="pincode" data-ng-model="user.pincode" placeholder="{{user.pincode}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label> Mobile Number :</label>
                            </div>
                            <div class="form-group fg-float col-md-3 m-t-25">
                                <div class="fg-line">
                                    <input type="number" class="form-control input-md" id="mobilenumber" data-ng-model="user.mobilenumber" placeholder="{{user.mobilenumber}}">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <center>
                                <button class="btn btn-primary text-center" data-ng-click="updateDetails();">Submit</button>
                                <button class="btn btn-primary text-center" data-ng-click="reset()">Reset</button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>