<!-- <div ng-controller="showDetails"> -->
<center><h1 style="color:rgb(117, 8, 8)">Registration List</h1></center>
<div>
    
        <center>Search: <input type="text" placeholder="Search students" ng-model="searchText"/></center><br>
        <table border="1px solid black" style="text-align: center" align="center">
            <tr style="color: rgb(0, 0, 0)"  bgcolor="#FFC300" >
                <th>Index</th>
                <th>First_Name</th>
                <th>Middle_Name</th>
                <th>last_Name</th>
                <th>Dob</th>
                <th>Blood_Group</th>
                <th>Father_Name</th>
                <th>Natinality</th>
                <th>Id</th>
                <th>Update</th>
                <th>Delete</th>
                <!-- <th>View</th>
                <th>Date</th> -->
            </tr>
            <tr ng-repeat="student in students | filter:searchText">
                <td>{{$index}}</td>
                <td>{{student.first_name}}</td>
                <td>{{student.middle_name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.state}}</td>
                <td>{{student.blood_group}}</td>
                <td>{{student.father_name}}</td>
                <td>{{student.natinality}}</td>
                <td ng-init=" id = student._id ">{{id}}</td>
                <td><a class="btn btn-primary" href="/#/AdmissionRegister" role="button" ng-click="updateadmin(id);">Update</a></td>
                <!-- <td> <a href="StudDetail.htm" ><input type="submit" class="btn btn-primary text-center" value="Update" onclick="window.location.href='/StudDetail.html'"></a></td> -->
                <td><input type="submit" value="delete" class="btn btn-danger text-center"  ng-click="delete(id)"></td>
                <!-- <td><input type="submit" value="view" class="btn btn-info text-center" onclick="window.location.href='/StudDetail.html'"></td>
                
                <td>
                    {{date | date:'yyyy-MM-dd'}}
                </td> -->
            </tr>
        </table>
        <!-- {{students[1]}}
        {{JSON.stringify($scope.students[2])}} -->
    </div>
<!-- </div> -->