<h1 style="color:rgb(50, 182, 68)">view</h1>

<!-- <div ng-controller="ViewCtrl"> -->
  <center><h1 style="color:rgb(197, 13, 136)">{{schoolname}}</h1></center>
  <center> <h4 style="color:rgb(238, 49, 121)">Student Details </h4></center>
  <!-- <table>
    <tr>
        <td><p class="text-center"> {{ user[1].first_name }} </p></td>
        
        <td><center> <h4>Middle Name</h4></center>
        <p class="text-center"> {{ user[1].middle_name }} </p></td>
    
        <center ><h4> Step 1 : Enquiry</h4></center>
        <p class="text-center"> {{ user[1].last_name }} </p>
    
        <center ><h4>  Step 2 : Admissions Approval Process</h4></center>
        <p class="text-center"> {{ user[1].dob }} </p>
        <p class="text-center"> {{ user[1].blood_group }} </p>
        <p class="text-center"> {{ user[1].father_name }} </p>
        <p class="text-center"> {{ user[1].mother_name }} </p>
        <p class="text-center"> {{ user[1].natinality }} </p>
        <p class="text-center"> {{ user[1].occupation }} </p>
        <p class="text-center"> {{ user[1].country }} </p>
        <p class="text-center"> {{ user[1].state }} </p>
        <p class="text-center"> {{ user[1].district }} </p>
        <p class="text-center"> {{ user[1].pincode }} </p>
        <p class="text-center"> {{ user[1].mobilenumber }} </p>
      </tr>
    
    
    <!--<center ><h4> Step 3 : Joining Formalities</h4></center>
        <p class="text-center"> {{ admission[4].formalities }} </p> -->
    
  

<!-- <table style="width:100%">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th> 
    </tr>
      <th>dob</th>
    <tr>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td> 
      <td>{{user.middle_name}}</td>
    </tr>
   
  </table>
</div> -->

<!-- <style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
} -->


<!-- <table id="t01"> -->
    
<div ng-controller="showDetails">
<center>Search: <input type="text" placeholder="Search students" ng-model="searchText"/></center><br>
<table border="1px solid black" style="text-align: center" align="center">
  
  <tr style="color: rgb(0, 0, 0)" bgcolor="#FFC300">
    <th>Index</th>
    <th>First Name</th>
    <th>Middle Name</th> 
    <th>Last Name</th>
    <th>Dob</th>
    <th>Blood_Group</th>
    <th>Father_Name</th>
    <th>Natinality</th>
  </tr>
  <tr ng-repeat="student in students | filter:searchText">
      <td>{{$index}}</td>
      <td>{{student.first_name}}</td>
      <td>{{student.middle_name}}</td>
      <td>{{student.last_name}}</td>
      <td>{{student.dob}}</td>
      <td>{{student.blood_group}}</td>
      <td>{{student.father_name}}</td>
      <td>{{student.natinality}}</td>
  </tr>
</table>
<!-- </div> -->